<h1> ACP Calculator </h1>

<form>
  <a href="/api/register" class="button">Register</a>
  <a href="/api/token" class="button">Login</a>
  <a href="/logout" class="button">Logout</a>

</form>
<form>
<p># Ports to access the servers</p>
<p>* localhost:5003 - access the ACP calculator page</p>
<p>* localhost:5001 - access the APIs pages</p>	
<p>* localhost:5000 - access the php website</p>
</form>

			    
