<html>
  <head>
    <title> Login Page </title>
  </head>
  <body>
    <h1> Login Page </h1>
    <form method='POST' action="{{ url_for('login') }}">
      {{ form.csrf_token }}
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      {% block body %}{% endblock %}
      {{ form.username.label }}
      {{ form.username }}
      <ul>
        {% for msg in form.username.errors %}
        <li> {{ msg }} </li>
        {% endfor %}
      </ul>
      {{ form.password.label }}
      {{ form.password }}
      <ul>
        {% for msg in form.password.errors %}
        <li> {{ msg }} </li>
        {% endfor %}
      </ul>
      <input type='submit' value='Submit'>
    </form>
  </body>
</html>
